<%- include('./partials/header') %>

   <div class="container">
      <header class="jumbotron">
         <div class="container">
            <h1>Cart</h1>
         </div>
      </header>
      <div class="row ">
         <div class="mb-3 col-10 border-bottom">
            <div class="row d-flex justify-content-center">
               <div class="col-md-5">
                  <div class="card-body pb-0">
                     <h5 class="card-title">
                        Name
                     </h5>
                  </div>
               </div>
               <div class="col-3">
                  <div class="card-body pb-0">

                  <h5 class="card-title">
                     Price/Unit ($)
                  </h5>
                  </div>
               </div>
               <div class="col-2">
                  <div class="card-body pb-0">

                  <h5 class="card-title">
                     Units
                  </h5>
                  </div>
               </div>

               <div class="col-md-2 ">
                  <div class="card-body pb-0">

                     <h5 class="card-title">
                        Total
                     </h5>
                     </div>
               </div>
            </div>
         </div>
         <% products.forEach(product=>{ %>
            <div class="card mb-3 col-10">
               <div class="row d-flex justify-content-center">
                  <div class="col-md-6">
                     <div class="card-body">
                        <h5 class="card-title">
                           <%= product.title %>
                        </h5>
                     </div>
                  </div>
                  <div class="col-2">
                     <div class="card-body">

                     <h5 class="card-title">
                        <%= product.price %>
                     </h5>
                     </div>
                  </div>
                  <div class="col-md-3 d-flex justify-content-around card-body">
                     <a class="btn btn-primary btn-sm" href="/admin/products/<%= product.id %>/edit">Edit</a>
                     <form action="/admin/products/<%= product.id %>/delete" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                     </form>

                  </div>
               </div>
            </div>
            <% }); %>
      </div>
   </div>
   <%- include('./partials/footer') %>