<%- include('../../partials/adminHeader') %>

   <div class="container">
      <div class="row text-center">
         <h1>Edit product id <%= product.id  %></h1>
         <div style="width: 40%; margin: 20px auto;">
            <form enctype="multipart/form-data" method="POST">
               <div class="form-group">
                  <input class="form-control" value="<%= product.name %>" type="text" name="name" placeholder="Name">
                  <p class="error-msg">
                     <%= errors.name %>
                  </p>
               </div>
               <div class="form-group">
                  <input class="form-control" type="file" name="image">
                  <p class="error-msg">
                     <%= errors.image %>
                  </p>
               </div>
               <div class="form-group">
                  <input class="form-control" value="<%= product.price %>" type="text" name="price" placeholder="price">
                  <p class="error-msg">
                     <%= errors.price %>
                  </p>
               </div>

               <div class="form-group">
                  <input class="btn btn-lg btn-outline-success" type="submit">
                  <a class="btn btn-lg btn-outline-secondary" href="/admin/products">Back</a>
               </div>
            </form>
         </div>
      </div>
   </div>

   <%- include('../../partials/footer') %>